[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon={{ ansible_env.HOME }}/binaries/pycharm/pycharm-{{ pycharm_release_number }}/bin/pycharm.png
Exec="{{ ansible_env.HOME }}/binaries/pycharm/pycharm-{{ pycharm_release_number }}/bin/pycharm.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
